<header>
  <h1 class="header__title">メモアプリ</h1>
</header>
<div class="body">
  <form action="/memos/<%= @memo[:id] %>" method="post" class="form">
    <input type="hidden" name="_method" value="patch">
    <input class="form_item form_title" type="text" name="title" value="<%= @memo[:title] %>" placeholder="タイトル">
    <textarea class="form_item form_content" name="content" rows="5" placeholder="本文"><%= @memo[:content] %></textarea>
    <div class="form_button_area">
      <input class="form_item form_button" type="submit" value="変更">
    </div>
  </form>
</div>
