<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
  <title>メモアプリ Show memo</title>
</head>
<body>
<header>
  <h1 class="header__title">メモアプリ</h1>
</header>
<div class="body">
  <form action="memos" method="post" class="form">
    <h2 class="show-memo_items"><%= @memo["title"] %></h2>
    <% content_text = @memo["content"].gsub(/\n|\r|\r\n/, "<br>") %>
    <div class="show-memo_items"><%= content_text %></div>
    <div class="form_button_area">
      <a href="edit" class="button_center">変更</a>
      <a href="delete" class="button_center">削除</a>
    </div>
  </form>
</div>
</body>
